@charset "UTF-8"; 

@import "_base/_reset";
@import "_utils/_mixins";
@import "_utils/_variables";
@import "_utils/_keyframes";
@import "_layouts/_footer";
@import "_layouts/_header";

// @media only screen and (max-width;
/*Base*/
* {
    // padding: 0;
    // background: #000;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .container-all {
    max-width: 2560px;
  }
  
  h2 { 
    font-size: 20px;
    padding-left: 20px;
    margin-block-end: 10px;
  }

  h3 { 
    font-size: 16px;
    margin-block-end: 0%;
    margin-block-start: 0%;
    padding-left: 10px;
  }

  h4{ 

    font-family: 'Shrikhand';
    
  }
  
  // body{
  //   box-sizing: border-box;
  //   margin: 0 auto;
  // }
  
  .container-all {
    max-width: 2560px;
  }
  @media screen and (min-width: 1800px) {
    .container-all {
      max-width: 1800px;
      margin: auto;
    }
  }
  
  .fas {
    margin-right: 20px;
  }
  
  h1 {
    color: #9356DC;
  }


  
  /*Loader*/
  .loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFF; 
    left: 0;
    top: 0;
    z-index: 10000;
    animation: loader 500ms forwards;
    animation-delay: 2s;
  }
  

  .header {
    text-align: center;
  }

  .header__img img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  
  .logo{ 
  margin: 0px;
  }


  .proj-search {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;

}
  


  .presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    padding: 40px 40px;
  }

  .presentation__book {
    font-weight: bold;
    font-size: 25px;
  }

  .btn__explore{
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    font-size: 15px;
    margin: 0 auto;
    background-image: linear-gradient(#FF79DA, #9356DC);
    transition: opacity 250ms, box-shadow 250ms;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
  .btn__explore:hover {
    opacity: 0.8;
    box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
  }
  
  /*Fonctionnement*/
  .function__title {
    margin: 0 0 20px 22px;
    margin-top: 40px;
  }
  

  .function {
    font-weight: bold;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    //  padding: 0 15px;   
  }
  .function h2 {
    margin: 0 0 30px 0;
  }
  .function__choice {
    margin: 0 20px 20px 20px;
    font-weight: bold;
    background-color: #F6F6F6;
    padding: 30px 50px 30px 18px;
    // margin-left: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    width: 300px;
    max-height: 78px;
    box-shadow: 0px 2px 0px #f2f2f2;
  }
  .function__choice:hover {
    background-color: #f5edff;
  }
  .function__choice:hover .fas {
    color: #9356DC;
  }
  .function__choice__number {
    width: 18px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: $couleur-1;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    left: -4%;
    font-size: 12px;
  }

  .i_fa_fa-tablet-alt{ 

    height: auto;
  }

  /* Menus */

  @media screen and (min-width: 750px) {
    
  .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F6F6;
    margin: 0 auto;
    // height: 210px;
    // min-width: 250px;
  }
}
@media screen and (min-width: 1250px) {
    
  .menus{ 
    padding: 0 20%;
    display: flex;
    flex-direction: column;
  }

  .colonne1{ 
    display: flex;
  }

  .colonne2 {
    display: flex;
  }
  .blockosmenu { 
    width: 40%;
  }

  } 




  .Photomenumain {

    // max-width: 360px;
    // max-height: 220px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 80%;
    max-height: 180px;
    }

    
  .blockosmenu{ 

    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 15px;
    position: relative;
    background: #fff;
    // height: 300px;
    @include blockosmenu;
    // width: 330px;
    // padding-left: 5px;
    // padding-right: 5px; 
    // border: 5px solid #fff; 
    // border-radius: 15px; 
    // margin-bottom: 40px; 
    // box-shadow: 0 3px 7px #c1c1c1; 
    // box-sizing: border-box; 
    // overflow: hidden; 
  }

  .restaurant{ 

    padding-top: 30px;
    padding-left: 20px; 
    font-size: 25px;
    font-weight: bold;
    
  }

  
  .texte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // position: absolute;
    // top: 215px;
    padding-bottom: 10px;
  }

.restaurant_title{ 
  
  padding-left: 20px;
  // margin-block-end : 0px;
  margin-block-start: 10px;

}
.restaurant_second{

  padding-left: 20px;
  font-weight: 100;
  padding-bottom: 5px;
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 20px;
}





.fill__keur{ 

  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 1px;
  width: 300px;
  // position: relative;
  // align-items: center;
  // position: absolute;
  // padding-left: 270px;
  // padding-bottom: 50px;
  // padding-top: 17px;
  color: black;
  cursor: pointer;

}

.fill__keur i { 

  font-size: 25px;
  font-weight: 200;
}


.fill:hover{ 

  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  color: $couleur-1;

}

.coeur {
  padding-top: 13px;
}


  .btn--soon{ 

    // padding-top: 1500px;
  }




  /* footer */



  