footer {
    background-color: #353535;
    padding: 25px;
  
    ul {
      list-style-type: none;
      li {

        margin-bottom: 5px;
       
        a{ 
          color: white;
        }

        }
      }


      h4{ 
        
        font-family: 'Shrikhand';
        margin-bottom: 30px;
        color: white;        
        font-size: 20px;
        font-weight: 300

      }

      .fa-utensils {
        margin-right: 12px;
      }
      .fa-hands-helping {
        margin-right: 5px;
      }

    }